
.head-line {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  }

.head-line svg {
  width: 400px;
}

.head-line-button-section{
display:flex;
align-items: center;
height: 40px;
}

.icon-area{
  margin-left: 15px;
}

.menus {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid #ebebeb;
  border-bottom: 4px double black;
  padding: 5px;
}

.menus button {
  border: none;
  background: none;
  margin: 5px;
}

.menus button:hover {
  background-color: black;
  color: white;
}

.news {
  border-bottom: 1px solid black;
  width: 100%;
  padding: 10px 10px;
}

.new-img-size {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  display: block;
}

.source-text{
  color: gray;
}


/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #dedede;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}


.side-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-menu-list button {
  border: none;
  background: none;
  margin: 5px;
  width: 120px;
}

.side-menu-list button:hover {
  background-color: black;
  color:white;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  border: none;
  background: none;
}

.hide {
  display: none;
}

.search-button {
  border: none;
  background: black;
  color: white;
  height: 33px;
  border-radius: 3px;

}

#search-input {
  border: 1px solid rgb(226, 226, 226);
  border-radius: 3px;
  height: 33px;
  padding: 0;
  margin: 0;
}

.alert{
  text-align: center;
}

footer{
  height: 100px;
  margin-top: 20px;
  background-color: black;
  color: white;
  display:flex;
  align-items: center;
  justify-content: center;

}

footer svg{
 width: 200px;
}

@media screen and (max-width: 63rem) {
  .hide {
    display: inline;
  }
  .menus {
    display: none;
  }
  .col-lg-8 h2{
    margin-top: 15px;
  }
  .head-line svg {
    width: 80%;
  }
}